.register-layout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.register-form {
  width: 35%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.register-form form {
  padding: 40px;
  background: #308eff;
  border-radius: 6px;
}
